/* fonts */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Lato Light"), local("Lato-Light"),
    url("./assets/fonts/Lato-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Lato Regular"), local("Lato-Regular"),
    url("./assets/fonts/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Lato Bold"), local("Lato-Bold"),
    url("./assets/fonts/Lato-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("Lato Black"), local("Lato-Black"),
    url("./assets/fonts/Lato-Black.ttf") format("truetype");
}

:root {
  --background-blue: #2d303a;
  --blue-dark: #666d89;
  --blue-light: #767e9e;
  --orange-light: #f06c64;
  --orange-dark: #d6564f;
  --orange-font: #f0d8d9;
}

/* content styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: "Lato", sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

.wrapper {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* General */
.section {
  padding: 60px 0 47px 0;
  border-bottom-width: 6px;
  border-bottom-style: solid;
}

.title,
.intro {
  margin-left: 1px;
}

.title {
  letter-spacing: -0.1px;
  color: var(--blue-dark);
  font-size: 30px;
  font-weight: 900;
}

.intro {
  margin-top: 18px;

  letter-spacing: 0px;
  color: var(--blue-light);
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}

/* feedback */
.feedback {
  padding: 60px 0 47px 0;

  background-color: var(--orange-light);

  border-color: #ea676b;
}

.feedback__title,
.feedback__intro {
  color: var(--orange-font);
}

.feedback__intro {
  letter-spacing: 0.14px;
}

.feedback__form,
.feedback__contact-info {
  margin-top: 42px;
}

.feedback__form {
  flex: 0 0 620px;    
}

.feedback__form input,
.feedback__form textarea {
  width: 100%;  

  margin-bottom: 17px;
  padding: 9px 15px;
  border: none;
  border-radius: 5px;

  background-color: var(--orange-dark);
  color: #f48c8f;
}

.feedback__form input::placeholder,
.feedback__form textarea::placeholder {
  color: #f48c8f;
  font-size: 12px;
}

.feedback__form input {
  height: 38px;
}

.feedback__form textarea {
  resize: none;
  height: 200px;
}

.feedback__form .feedback__btn {
  width: 200px;
}

.feedback__btn:hover {
  cursor: pointer;
  background-color: #c9524c;
}

/* contact info */
.contact-info {
  flex: 0 0 300px;

  color: var(--orange-font);

  line-height: 21.56px;
}

.contact-info__title {
  font-weight: 900;
  font-size: 18px;
}

.contact-info__intro {
  margin-top: 7px;

  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.14px;
  text-align: justify;
}

.contact-info__contacts {
  margin-top: 21px;
}

/* contacts */
.contacts {
  font-size: 12px;
}

.contacts__item {
  padding-left: 22px;

  position: relative;
}

.contacts__item::before {
  content: "";

  width: 20px;
  height: 20px;
  position: absolute;   
}

.contacts__item:nth-child(1)::before {
  top: 5px;
  left: -5px; 

  background: url("./assets/images/singolo3/location.png") top no-repeat;
}

.contacts__item:nth-child(2)::before {
  top: 5px;
  left: 0px;

  background: url("./assets/images/singolo3/phone.png") no-repeat;
}

.contacts__item:nth-child(3)::before {
  top: 7px;
  left: 0px;

  background: url("./assets/images/singolo3/mail.png") no-repeat;
}

/* footer */

.main-footer {
  background-color: #2d303a;
}

.main-footer__copyright {
  margin: 30px 0 32px 2px;

  color: #666d89;
  letter-spacing: -0.1px;
  font-size: 12px;
}

.main-footer__socials {
  margin-top: 22px;
}

/* socials */
.socials {
  display: flex;
  flex-flow: row wrap;  
}

.socials__item {
  margin-right: 8px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link:hover {
  filter: brightness(.6);
}
