/* fonts */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Lato Light"), local("Lato-Light"),
    url("./assets/fonts/Lato-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Lato Regular"), local("Lato-Regular"),
    url("./assets/fonts/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Lato Bold"), local("Lato-Bold"),
    url("./assets/fonts/Lato-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("Lato Black"), local("Lato-Black"),
    url("./assets/fonts/Lato-Black.ttf") format("truetype");
}

:root {
  --background-blue: #2d303a;
  --blue-dark: #666d89;
  --blue-light: #767e9e;
}

/* content styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: "Lato", sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

.wrapper {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* General */
.section {
  padding: 60px 0 63px 0;
  border-bottom-width: 6px;
  border-bottom-style: solid;
}

.title,
.intro {
  margin-left: 1px;
}

.title { 
  letter-spacing: -0.1px;
  color: var(--blue-dark);
  font-size: 30px;
  font-weight: 900;
}

.intro {
  margin-top: 18px;

  letter-spacing: 0px;
  color: var(--blue-light);
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}

/* Portfolio */
.portfolio {
  border-bottom-color: #323746;

  background-color: var(--background-blue);
}

.portfolio__filter {
  margin-left: 2px;
}

.filter {
  display: flex;
  flex-direction: row;

  margin-top: 10px;
}

.filter__item {
  margin-right: 10px;
}

.filter__btn {
  padding: 2px 6px;

  background-color: transparent;
  border: 1px solid var(--blue-dark);
  border-radius: 5px;
  font-size: 12px;
  color: var(--blue-dark);
  letter-spacing: 0px;
}

.filter__btn--active {  
  border-color: #ffffff;
  color: #ffffff;
}

.filter__btn:hover {
  cursor: pointer;
  border-color: #d2d2d2;
  color: #d2d2d2;
}

.portfolio__images {
  margin-top: 20px;
  max-height: 605px;

  overflow: hidden;
}

.portfolio__image {
  margin-bottom: 20px;
}

/* About */
.about {
  border-bottom-color: #ffffff;

  background-color: #f2f2f2;
}

.people {
  margin-top: 44px;
}

.people__item {
  flex: 0 0 300px;
}

.socials {
  display: flex;
  flex-flow: row wrap;
}

.socials__link:hover {
  filter: brightness(.6);
}
